body{
    background-color: black;
    color: white;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

header{
    text-align: center;
    padding: 2em;
}

#guess-it-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

    @keyframes animation {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }

.win{
    font-size: 40px;
    color: #B8DAFF;
    display: none;
}

.win.animate{
    display: block;
    animation: animation 0.5s ease-in-out;
}