body{
    background-color: #324057;
    text-align: center;
    color: #b8daff;
    font-family: monospace;
    padding-top: 10em;
}

h1{
    font-size: 60px;
    font-style: italic;
}

h2{
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div{
    margin: 30px;
}